.App {
  text-align: center;
}
.btn-wrapper .add-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: #000 0px 1px 5px;
}
.btn-wrapper .remove-btn {
  background-color: rgb(78, 57, 136);
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: #000 0px 1px 5px;
  position: absolute;
  top: 137px;
  margin-left: 2px;
}

.img-wrapper img {
  width: 80px;
}
.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}
.item {
  float: left;
  display: inline-block;
  width: 200px;
  padding: 10px;
}
.add-to-cart img {
  width: 50px;
  position: absolute;
  right: 3%;
  top: 10%;
}
.cart-count {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  color: black;
  position: absolute;
  top: 58px;
  right: 3.2%;
}
.cart-name {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  color: black;
  position: absolute;
  top: 35px;
  right: 0;
}
